$xxxs : 374;
$xxs : 424;
$xs : 575;
$sm : 767;
$md : 991;
$lg : 1199;
$xlg : 1441;
$xxlg : 1681;
$gutter: 15px;

@mixin max($breakpoint) {
	@media (max-width: $breakpoint + px) {
		@content;
	}
}

@mixin min($breakpoint) {
	@media (min-width: ($breakpoint + 1) + px) {
		@content;
	}
}

@mixin imgcenter {
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}