@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


// Font Family
$font-family: 'Open Sans', sans-serif;

// Colors
$primary-color: #003466;
$white-color: #ffffff;
$border-color: #ddd;
$gray-color: #f5f5f5;
$green-color: #87a52c;
$blue-color: #27aae1;
$orange-color: #fa6400;
$red-color: #e74c3c;

// Font Size
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;

// Font Weight
$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;

// Border Radius
$border-radius: 5px;

// Transition
$transition: ease-in-out all .3s;

